body{
    height: 3000px;
    width: 3000px;
}

h1{
    margin-left: 18%;
}


.container{
    height: 650px;
    width: 800px;  
    margin-left: 13%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2%;
}

.caja{
    background-color: lightgrey;
    border-radius: 40px;
}

.x{
    background-image: url("imgs/Pikachu.webp");
    background-size: 100% 100%;
}

.circulo{
    background-image: url("imgs/partner-eevee.png");
    background-size: 100% 100%;
}