#contenedor {
    display: flex;
    justify-content: center;
}

div {
    margin-left: 2%;
    margin-top: 2%;
}

#contenedorRojo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

button {
    margin-top: 5%;
}

#rojo {
    width: 100%;
    height: 300px;
    background-color: red;
    box-shadow: 7px 7px 7px black;
}

#contenedorAzul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#azul {
    width: 100%;
    height: 300px;
    background-color: blue;
    box-shadow: 7px 7px 7px black;
}

#contenedorVerde {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#verde {
    width: 100%;
    height: 300px;
    background-color: green;
    box-shadow: 7px 7px 7px black;
}

#contenedorNegro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#negro {
    width: 100%;
    height: 300px;
    background-color: black;
    box-shadow: 7px 7px 7px black;
}

.prueba {
    width: 0px !important;
    transition: width 3s;
}