h1{
    margin-left: 20%;
}


#container{
    display: grid;
    grid-template-columns: 1100px 500px;
    grid-template-rows: 800px;
}


#containerVideos{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 15px;

    
}



#videoActivo{
    display: grid;
    grid-template-rows: 525px 100px;
    height: 500px;
    width: 1100px;
    margin-top: 2%;
}

#containerBotones{

margin-left: 10%;

}

.miniVideo{
    width: 400px;
    height: 200px;
border: 1px solid black;

}

#avengers{
    background-image: url("miniaturas/avengers.jpg");
    background-size: 100% 100%;
}

#falangista{
    background-image: url("miniaturas/falangista.jpeg");
    background-size: 100% 100%;
}

.boton{
    height: 100px;
    width: 100px;
    margin: 1%;
   border-radius: 10px;
    
}

.silenciar{
    background-image: url("imgs/muted.png");
    background-size: 100% 100%;
}

.retroceder{
    background-image: url("imgs/rewind.png");
    background-size: 100% 100%;
}
.play{
    background-image: url("imgs/play.png");
    background-size: 100% 100%;
}
.avanzar{
    background-image: url("imgs/forward.jpeg");
    background-size: 100% 100%;
}
.reiniciar{
    background-image: url("imgs/reload.svg");
    background-size: 100% 100%;
}

.bajarvol{
    background-image: url("imgs/sounddown.png");
    background-size: 100% 100%;
}

.subirvol{
    background-image: url("imgs/soundup.png");
    background-size: 100% 100%;
}
